.pyc
.idea/
application/__init__.pyc
application/forms.pyc
application/models.pyc
config.pyc
flask-aws/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
